
.form-container {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    color: red;
    font-size: 35px;
}

.page-title {
    text-align: center;
    line-height: 80px;
}

.main {
      background-color: #e2e1e8;
      width: 730px;
      margin:0 auto;
      overflow: hidden;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul li {
       border-bottom: 1px solid #c5bebe;
       overflow: hidden;
       padding: 0;
}

.post-group {
            float: left;
            width: 720px;
}

.post-title a{
            color: #259;
            font-weight: 900;
            margin: 0 10px;

}
.post-content {
                margin: 0 5px;
                padding: 5px;
}

.post-info {
            text-align: right;
}

.post-info .post-author {
            margin-right: 30px;
}


.reply-list li{
            padding-top: 10px;

}
.reply-info {
            line-height: 40px;
            width: 720px;
}


.reply-info .reply-author {
            margin-left: 10px;
            font-size: 20px;
}

.reply-info .reply-time {
            float: right;
}

.reply-content {
            margin-left: 10px;
}