{% extends 'layout.html' %}
{% block title %}Vestigia Home{% endblock %}
    {% block nav %}
    <a href="{{ url_for('post') }}"><i class="fas fa-post"></i>Post</a>
    {% endblock %}

{% block content %}
    <div class="content">
        <h2>User Profile</h2>
    {% if poster_account %}
        <table>
            <tr>
                <td>User Name:</td>
                <td>{{ poster_account.user_name }}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{ poster_account.email }}</td>
            </tr>
        </table>
        <button class="btn btn-primary btn-block" style="width: 100px; display:inline-block">Follow</button>
        <button class="btn btn-primary btn-block" style="width: 100px; display:inline-block;vertical-align: bottom">Unfollow</button>

    {% else %}
        <table>
            <tr>
                <td>User Name:</td>
                <td>{{ account.username }}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{ account.email }}</td>
            </tr>
        </table>
    {% endif %}
         <h2>Post History</h2>
        <div class="main" style="padding: 0; background-color: #e2e1e8; margin: 0">
    {% for ps in post %}
       <ul>
            <li>
                <div class="post-group">
                    <p class="post-title"><a href="{{ url_for('into_reply', post_id=ps.post_id) }}">
                        {{ ps.post_title }}</a></p>
                    <P class="post-content">{{ ps.post_content }}</P>
                    <div class="post-info">
                        <span class="post-author">{{ ps.username }}</a></span>
                        <span class="post-time">{{ ps.post_time }}</span>
                    </div>
                </div>
            </li>
       </ul>
    {% endfor %}
    </div>
</div>
{% endblock %}