{% extends 'layout.html' %}
{% block title %}Vestigia Home{% endblock %}
    {% block nav %}
    <a href="{{ url_for('post') }}"><i class="fas fa-post"></i>Post</a>
    {% endblock %}

{% block content %}
    {% if poster_account %}
    <div class="content">
        <h2>User Profile</h2>
        <table>
            <tr>
                <td>Username:</td>
                <td>{{ poster_account.user_name }}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{ poster_account.email }}</td>
            </tr>
        </table>
    </div>
    {% else %}
    <div class="content">
        <h2>User Profile</h2>
        <table>
            <tr>
                <td>Username:</td>
                <td>{{ account.user_name }}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{ account.email }}</td>
            </tr>
        </table>
    </div>
    {% endif %}
{% endblock %}


